.art-butt{
	width:100%;
	height:60px;
	>a{
		margin: 2px;
	}	
}

.arti{
	// border: 1px solid #eee;
    margin: 10px;
    padding: 13px 0 3px 0;
    // min-width: 340px;
	img{
		// display: block;
		// margin:0 auto;
	    width: 100%;
	    max-width: 100%;
	    height:100% !important;
	    object-fit:cover;
	}
	h4{
	font-weight:bold;
	}
}

.art-show{
	.art-img img{
		width:100%;
		max-height: 100%;
		object-fit:cover;
	}
	text-align: center;
	table{
	    margin: 0 auto;
	}
	ol{
		display: inline-block;
	}
}

.art-author{
    position: absolute;
    top: 100px;
    margin-left: 9px;
}

.art-content{
    margin: 0px auto;
    padding: 30px;
}

#disqus_thread{
	width: 60%;
    margin: 0 auto;
}

.bow{
	font-size: 16px;
    padding: 2px 0;
    position: relative;
    .delo{
    	padding: 0 10px;
    	position: absolute;
    	right: 0;
    	color: #ff6868;
    }
}