.btn{
	border-radius:0px;
}

.btn-submit{
	border-radius:0px;
	width: 60%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.btn-fb{
	@include button-variant(#fff, $fb, $fb);
	i{
		font-size: 20px;
	}
}

.btn-ggl{
	@include button-variant(#fff, $ggl, $ggl);
	i{
		font-size: 20px;
	}
}

.btn-curriculum{
	@include button-variant(#fff, #d8ac11, #d8ac11);
}

.btn-search{
	color: #fff;
	border-color: $dpc;
	background-color: $pc;
}

.successBar{background: #c0f5c0;}