.carousel {
  height: 655px;
  margin-bottom:  0px;
  overflow:hidden;
}

.main-text
{
    position: absolute;
    top: 6px;
    width: 96.66666666666666%;
    color: #FFF;
}

.carousel-inner > .item{
    margin-bottom:20px;
}

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 655px;
  background-size:cover;
  background-position:center;
}

.search-bar{
    margin-top:180px;
    padding-left:48px;
}

.carousel-caption{
    bottom: 300px;
    background-color: rgba(0, 0, 0, 0.57);
    padding-top: 100px;
    border-radius: 0px;
    padding-left:20px;
    padding-right:20px;

}

@media (min-width: 300px){
.carousel-caption{
    bottom: 16px;
}
}

@media (min-width: 600px){
.carousel-caption{
    bottom: 90px;
}
}

@media (min-width: 900px){
.carousel-caption{
    bottom: 156px;
}
}

@media (min-width: 1200px){
.carousel-caption{
    bottom: 185px;
}
}

@media (min-width: 1500px) { 
  .carousel-caption{
    bottom: 156px;
} 
}

