.courses-index{
	display: inline-block;
	min-height: 100%;
	margin:10px;
	text-align:center;
	font-size: 20px;
	padding:5px;
	width:46%;
	img{
		box-shadow: 0 0 10px #ccc;
	}
}

.coursebase-sidebar>h3{
	color:#6F7372;
}
.da-thumbs {
	list-style: none;
	width: 100%;
	height: auto;
	float:left;
	position: relative;
	margin: 0px auto;
	padding: 0;
	li {
		float: left;
		display: block;
		position: relative;
		margin: 0px;
		background: #fff;
		padding: 10px;
		position: relative;

		a {
			overflow: hidden;
			display: block;
			position: relative;
			img {
				display: block;
				position: relative;
				transition: all 1s ease-in-out 0s;
				-moz-transition: all 1s ease-in-out 0s;
				-webkit-transition: all 1s ease-in-out 0s;
				-o-transition: all 1s ease-in-out 0s;
				width: 100%;
				height: 100% ;
				max-height: 200px;
				object-fit: cover;
			}
		}
	}
}
.da-thumbs li a:hover img {
	transform: scale(1.5) rotateZ(-5deg);
	-moz-transform: scale(1.5) rotateZ(-5deg);
	-webkit-transform: scale(1.5) rotateZ(-5deg);
	-o-transform: scale(1.5) rotateZ(-5deg);
}
.course-text {
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.75);
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	left: 0px;
	overflow: hidden;
	transition: all 300ms ease;
	span {
		display: block;
		padding: 10px 0;
		margin: 40px 10px 20px 20px;
		text-transform: uppercase;
		font:17px/24px 'Roboto', sans-serif;
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(255,255,255,0.5);
		box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
	}
}

