.banner{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}
.requestTrial{
  position: absolute;
  top: 132px;
  width: 100%;
  .coco{
    background: rgba(12, 10, 10, 0.58);
    padding: 10px;
    color: #fff;    
    border-radius: 24px;
    h3{
      color:#fff;
    }
  }
  h3{
    text-align: center;
  }
  input{
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 4px;
    color:#333;
  }
}

.cprice{
  margin-bottom:15px;
}

iframe{
  width:100%!important;
}
.all-content{
  img{
    max-width:100%;
    height:auto;
  }
  table{
    max-width: 100%;
  }
}

.dashimg{
  max-width:100%;
  height:auto;
}


.course-main{
  background:rgba(255, 255, 255, 0.56);
    padding: 18px;
    border: 1px solid $pc;
    margin: 20px 0;
    border-radius: 0;
  >h1{
    color: #444;
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
  }
}

.course-sidebar{
  margin-top:60px;
  >h3{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  li{
    margin-bottom: 1px;
    padding:3px 0;
  }
  i{
    padding-right: 4px;
  }
}

.inner-course-sidebar{
  margin:0 auto;
  display:block;
}

.reviews{
  margin: 40px 0;
  text-align: center;
}

.review{
  border: #eee solid 1px;
    padding: 10px;
    max-width: 700px;
    margin: 9px auto;
}

.revform{
    margin: 9px auto;
    padding: 10px;
    max-width: 700px;
}

p.revname{
  margin: 0;
  // margin-left: -14px;
  padding:3px;
}

p.raty{
  padding:4px;
}

.rimg{
  padding-top: 8px;
}

.reviewcon{
  height: 90px!important;
}
.inputrat{
  padding:10px;
  border-top: #eee solid;
  padding-top: 22px;
}

.ipub{
  li{
    color:#888;
  }
}

.itea{
  i{
    color:$pc;
  }
}

.istu{
  color:$pc;  
}

.curicul{
  color: #666;
  font-weight: bold;
}

.vid-in{
  margin: 20px 0;
  .col{
    padding:0;
  }
}

.course-title{
  font-size: 30px;
  font-weight: bold;
}

.course-social{
  i{
    font-size: 30px;
  }
}

.course-details{
  margin: 0 -5% 0 29%;
  
}

.review-content{
    height:120px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.reviewdel{
  position: absolute;
  bottom:0;
  right:0;
}

.course-instructor{
  text-align: center;
  padding: 10px;
  margin-top: 42px;
}

.review-cx{
  width: 75%;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.reviewCarousel{
  height:234px;
  display: block;
}

.sinfo{
  margin-bottom: 20px;
}

.carol{
  i{
    position: absolute;
    top: 100px;
    font-size: 40px;
    color: $pc;
  }
}

.carol-left{
  left: 10px;
}
.carol-right{
  right: 10px;
}

#course-type-self{
  display: none;
}

.containerado{
  padding: 20px;
}