.coursebox-container{
	margin-top:40px;
	margin-bottom:40px;
	a{
		color:#333;
		&:hover{
			text-decoration: none;
		}
	}
	span{
		display: block;
	}
}
.coursebox{
    width: 284px;
    height: 320px;
    margin:0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    // border:1px solid #ccc;
    position: relative;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    .headimg{
    	width:100%;
    	height:160px;
    }
    .title{
	    text-align: center;
	    padding: 10px;
	    height: 60px;
	    font-size: 18px;
	    font-weight: bold;
    }
    .instructor{
    	position: absolute;
        top: 244px;
        left: 113px;
    }
    .student{
	    position: absolute;
        bottom: 6px;
        right: 16px;
    }
    .rating{
        position: absolute;
        bottom: 6px;
    	left:16px;
    	.raty img{
		    width: 12px;
    	}
    }
    .price{
        position: absolute;
        bottom: 27px;
        left: 16px;
        font-size: 18px;
        color: #2A76AF;
        h4{
            color:#333;
            margin:0;
            font-size: 15px;
        }
    }
    .price_self{
    	position: absolute;
	    bottom: 27px;
	    right: 16px;
	    font-size: 18px;
	    color: #2A76AF;
        h4{
            color:#333;
            margin:0;
            font-size: 15px;
        }
    }
    .instructor-name{
	    display: block;
	    font-size: 13px;
	    font-weight: normal;
    }
}