.sections{
    margin-top: 40px;
}

.subject{
    .subprev{
        width: 280px;
        background: lighten($pc,20%);
        padding: 10px;
        margin:10px 0;
    }
}

.curil{
    text-align: center;
    margin-top: 50px;
    color:#fff;
    a{
        color:#fff;
    }
}
.curira{
    background-color: #fff;
    padding-bottom: 16px;
    min-height: 704px;
}
.curir{
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid $pc;
    min-height: 200px;
}

.secprev{
    background: lighten($pc,30%);
    padding: 10px;
    margin:10px 0;
}

.btn-sidebar{
    display: block;
    width: 200px;
    margin: 4px auto;
}

.section-list{
    // background-color: lighten($pc,30%);
    display: block;
    margin: 4px 0;
    padding: 10px 24px;
    // font-size: 17px;
    // border: 1px solid lighten($pc,15%);
    &:hover{
    // background-color: lighten($pc,20%);
    color:darken($pc,15%);
    text-decoration: none;
    }
}

.section-list-active{
    color:darken($pc,10%);
    // background-color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px lighten($pc,1%);
    &:hover{
    // background-color: #fff;
    color:darken($pc,15%);
    }
}

.section-list-a{}
.section-list-b{
    color:#aaa;
    // background-color: #eee;
    // border: 1px solid #aaa;
    &:hover{
    // background-color: #eee;
    color:#aaa;
    }
}