.ebook-header{
	margin:60px 0 64px 0;
	h2{
		font-size: 50px;
	    font-weight: bold;
	}
}

.ebook{
	background-image: url('/images/ebook/1.jpg');
	background-position: center;
}

.ebook-gate{
    background-image: url('/images/ebook/5.jpg');
    background-position: center;
}

.ebook1{
	background:rgba(255, 255, 255, 0.61);
	    padding-bottom: 35px;
}

.ebook-image{
	max-width: 480px;
    width:100%;
}

.ebook-what{
	color: #111;
    text-shadow: 2px 2px 1px #999;
}

.ebook-discount{
	color:#333;
	background-color: lighten($pc,10%);
	padding: 4px;
    font-weight: bold;
}

.ebook-foot{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background: rgb(54, 95, 145);
    color: #fff;
    i{
    	padding: 14px 14px;
	    background: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    }
    .customfb{
    	padding: 14px 19px;

    }
}

.ebook-form{
    max-width: 409px;
    padding: 10px;
    margin: 0 auto;
    background: rgba(51, 51, 51, 0.25);
}

.disca{
    background-color: #64A4FF;
}