/*general settings*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
nav{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.table-fit {
  table-layout: fixed;
   word-wrap: break-word;
   font-size: 13px; 
}
.table-fit th, td {
    vertical-align: middle;
}
section.main{
  padding: 75px 0;
}
.spacer{    
  float: left;
  width: 100;
  height: 50px;
}

section.main .title{
  float: left;
  width: 100%;
  margin-bottom: 60px;
}
section.main .title h5{
}

section.main .title h1{
font-weight: 700;
}



section.main .title h1.background {
    position: relative;
    z-index: 1;
    }
    section.main .title h1.background:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    section.main .title h1.background span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }


section.main .title h1.double:before { 
    /* this is just to undo the :before styling from above */
    border-top: none; 
}

section.main .title h1.double:after {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}

.main-btn{
  border: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 1.3em 3em 1.065em;
    font-size: 11px;
    line-height: 2.1em;
    font-weight: 400;
    letter-spacing: 1.1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 16.8em;
    text-align: center;
    background-color:#dc5226;
    color:#fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
        min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.login-btn{
  border: solid 1px #dcae22;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.1px;
    border-radius: 1px;
    text-align: center;
    background-color:#f3c22d;
    color:#fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
        margin: 0px 2px;

}
.login-btn:hover,.login-btn:focus,.login-btn.btn-default.active.focus, .login-btn.btn-default.active:focus, .login-btn.btn-default.active:hover, .login-btn.btn-default:active.focus, .login-btn.btn-default:active:focus, .login-btn .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
      background-color:#dcae22;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
      border: solid 1px #dcae22;


}

.reg-btn{
      border: solid 1px #4e969c;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.1px;
    border-radius: 1px;
    text-align: center;
    background-color:#5ea5ab;
    color:#fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0px 2px;
}
.reg-btn:hover,.reg-btn:focus,.reg-btn.btn-default.active.focus, .reg-btn.btn-default.active:focus, .reg-btn.btn-default.active:hover, .reg-btn.btn-default:active.focus, .reg-btn.btn-default:active:focus, .reg-btn .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
      background-color:#4e969c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
          border: solid 1px #4e969c;


}


.white-bg{
background-color: #fff !important;
}

.light-bg{
  background-color: #c4d1c5 !important;
}
.black-txt{
  color:#000;
}
.white-txt{
  color:#fff;
}
.grey-txt{
  color:#ababab;
}
.red-txt{
  color: #dc5226;
}
.trans-bg{
  background-color:transparent;
}
.mixwhite-txt{
  color: #fcfcfc;
}

/*header*/
header{

}






.navbar.transparent.navbar-inverse{
    border-width: 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 5px 0;
}
.navbar.navbar-inverse .navbar-nav>li>a{
  color: #c3d3d6;
}
.navbar.navbar-inverse .navbar-brand{
  color: #fff;
  padding-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar.navbar-inverse .navbar-brand span{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  display: none;
}
.navbar.navbar-inverse .navbar-brand img{
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color:transparent;
  color:#f3c22d !important;
}

.navbar-inverse .navbar-nav>li >a:hover{
  color:#fff !important;
}
.navbar-inverse.other .navbar-nav>li >a{
  color: #8fb2b9;
}
.navbar-inverse.other .navbar-nav>li >a:hover{
  color:#f3c22d !important;
}          
.white-nav{
  background-color:#fff !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom:solid 1px rgba(196, 209, 197, 0.29) !important;
    padding: inherit !important;
        box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.27);
            -webkit-box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.27);

}

.white-nav.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color:transparent;
  color:#f3c22d !important;
}

.white-nav.navbar-inverse .navbar-nav>li >a:hover{
  color:#f3c22d !important;
}  

.white-nav.navbar.navbar-inverse .navbar-nav>li>a{
  color: #8fb2b9;
}
.white-nav.navbar.navbar-inverse .navbar-brand{
  color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.white-nav.navbar.navbar-inverse .navbar-brand img{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  display: none;
}
.white-nav.navbar.navbar-inverse .navbar-brand span{
display: block !important;
padding: 15px 0;
font-size: 22px;
color: #f3c22d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*carousel*/
#carousel .carousel-control .glyphicon-menu-left,
#carousel .carousel-control .glyphicon-menu-right,
#carousel .carousel-control .icon-next,
#carousel .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    /*z-index: 5 !important;*/
    /*display: inline-block !important;*/
    font-size: 2em;
}

/*fade effect on carousel*/
#carousel .carousel-fade .carousel-inner .item {
position: relative;
height: 100vh;
}

 #carousel .carousel-fade .carousel-inner .item:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000000, #00ebff);
  opacity: .6; 
  z-index: 1001
  }


#carousel .carousel-fade .carousel-inner .item,
#carousel .carousel-fade .carousel-inner .active.left,
#carousel .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#carousel .carousel-fade .carousel-inner .active,
#carousel .carousel-fade .carousel-inner .next.left,
#carousel .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#carousel .carousel-fade .carousel-inner .next,
#carousel .carousel-fade .carousel-inner .prev,
#carousel .carousel-fade .carousel-inner .active.left,
#carousel .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#carousel .carousel-fade .carousel-control {
  z-index: 2;
  display: none;
}


#carousel div .carousel-caption {
    /*position: fixed !important;*/
    top: 40%;
        font-family: 'Luckiest Guy', cursive !important;
        z-index: 100001;

    /*z-index: 5;
    display: inline-block !important;*/
}

/* Caption animation delays */
#carousel .toggleHeading {
color:#fff !important;
    animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
       -moz-transition: none !important;
}
#carousel .toggleCaption {
    animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
       -moz-transition: none !important;
}

/* Caption animation delays */
#carousel .toggleHeading {
    animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
       -moz-transition: none !important;
}
#carousel .toggleCaption {
    animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
       -moz-transition: none !important;
}
/*Scroll down - circle button*/
#carousel .btn-circle {
    width: 75px;
    height: 75px;
    padding: 10px 10px;
    border: none;
    border-radius: 100%;
    font-size: 50px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
/*Animating the circle button*/ 
#carousel .scroll-down {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: Circlebounce 2s infinite;
    -webkit-animation: Circlebounce 2s infinite;
    -moz-animation: Circlebounce 2s infinite;
    -o-animation: Circlebounce 2s infinite;
}

@-webkit-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}















/*courses*/

#courses .course-title{
  float: left;
  width: 100%;
  padding: 5px 0;
  border-bottom: solid 1px #eee;
  background: #fff;
}

#courses .course-title h4{
 font-size: 14px;
 text-align:center;
}


#courses .course-rating{
  padding:4px 0;
  float:left;
  width:100%;
  background:#fff;
}
#courses .course-rating .rating{
  text-align:center;
}
#courses .course-rating .raty{
  margin:0 auto;
  display:block;
} 



/*counter*/
section.separate .bg-img{
  padding: 55px 0;
    background-image: linear-gradient(rgba(70, 42, 14, 0.48), rgba(0, 0, 0, 0.78)), url(/images/new-home/img.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.counter
{
    background-color: transparent;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 48px;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 52px;
      display: inline-block;
font-family: 'Luckiest Guy', cursive;

}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #fff;
    line-height: 34px;
}


/*testimonials*/
section.separate#testimonials .bg-img-1{
  padding: 55px 0;
    background-image: linear-gradient(rgba(70, 42, 14, 0.48), rgba(0, 0, 0, 0.78)), url(/images/new-home/testi-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#testimonials #testimonials-slider{
  color: #fff;
  font-style: italic;
  text-align: center;
}
 
/*why choose us*/
#why-choose-us .inner{
  float: left;
  width: 100%;
  padding: 0 20px ;
}
#why-choose-us .tit{
  font-size: 20px;
  text-decoration: none;
  font-variant: small-caps;
}







/*footer*/

#footer { background-color:#0c1a1e; font-family: 'Open Sans', sans-serif; }
#footer .footerleft { margin-top:50px; margin-bottom: 50px; padding:0 36px; }
#footer .logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

#footer .footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
#footer .footerleft p i { width:20px; color:#999;}


#footer .paddingtop-bottom {  margin-top:50px;}
#footer .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
#footer .footer-ul li { line-height:29px; font-size:12px;}
#footer .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
#footer .footer-ul i { margin-right:10px;}
#footer .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

#footer .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 #footer .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 #footer .icon-ul li { line-height:75px; width:100%; float:left;}
 #footer .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}










/*geekvis section*/
.card {
    height: 320px;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 150px;
    background: #fff;
}
.card.right{
  background:url(/images/new-home/geek-bg.jpg);
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}
.card.left{
  background:#ededec;
    padding: 0px 285px;

}
.card.right:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(255, 103, 69, 0.89);
}
.card.right h4{
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 25px;
  padding: 20px;
  line-height: 44px;
  font-weight: lighter;
}
.card.left h4 {
    font-size: 25px;
    font-weight: 300;
    color: #000;
    line-height: 75px;

}

.btn-geekvis{
  background-color: transparent;
  border:solid 2px #fff;
  color: #fff;
  margin-top: 5px;
}
.btn-geekvis:hover{
  background-color: #fff;
  border:solid 2px #fff;
  color: rgba(255, 103, 69, 0.89);
}
/*hover effect settings*/
#t-1:hover img{
   -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 231, 255, 0.8));
}


/*hover effect*/
.shadowfilter {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  
}.shadowfilter:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}







@media (min-width: 1200px) {
  .container {
    width: 968px;
  }
}
@media (max-width: 1024px) and (min-width:768px) {
.card.right{
  padding:0 30px !important;
}
.card.left{
  padding:0px 160px !important;
}
#carousel .carousel-fade .carousel-inner .item {
background:url(/images/new-home/replace-video.jpg);
background-size: cover;
}
#carousel .carousel-fade .carousel-inner .item .fullscreen-bg {
display:none;
}
}
@media (max-width: 768px) {
.navbar.navbar-inverse .navbar-nav>li>a{
  color: #8fb2b9 !important;
}
.navbar-inverse .navbar-collapse{
  background-color:#fff;
}
.carousel-caption{
  bottom:75px !important;
}
#carousel div .carousel-caption{
  top:inherit !important;
}
.navbar.navbar-inverse .navbar-brand img{
   -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 231, 255, 0.8));
   max-width:40px;
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
  #carousel .carousel-fade .carousel-inner .item {
background:url(/images/new-home/replace-video.jpg);
background-size: cover;
}
.card.left{
  padding: 0 100px;
}
.card.right{
  padding: 0 0px;
}
}


/*other page styles*/
.other-page-heading{
  background:#fafafa;
  padding:20px 0;
  text-indent:10px;
  font-weight:bolder;
  text-align:center;
  margin-bottom:20px;
}

section.main.other{
  padding:25px 0;
}





/* overwrite temp untill found original */
.btn{
       border-bottom-width: 0px; 
}
.btn:hover{
       margin-top: 0px !important; 
     border-bottom-width: 0px; 
}



/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/Preloader_7.gif) center no-repeat #fff;
}



/*trials.blade*/
tbody#trials-table:nth-child(odd){
  background:#fafafa;
}
tbody#trials-table:nth-child(even){
  background:#eaeaea;
}