.ribbon{
	background-color: #6aacdd;
	min-height: 100px;
	padding: 15px;
	margin-bottom: 30px;
	>h1{
		text-align:center;
		font-weight:600;
		color: #fff;
	}
}

.helpdesk{
	width:60%;
	margin:0 auto;
}

.search-article{
	margin-bottom: 20px;
	>img{
		display: block;
		margin: 0 auto;
	}
	>a{
		text-align: center;
		display: block;
	}
}

.search-article-head{
	text-align: center;
	margin-bottom: 36px;
}
.teamrow{
	margin:60px 0;
}
.teamdiv{
	text-align: center;
	img{
		display:block;
		margin:0 auto;
	}
}

.newsletter{
	max-width: 313px;
	position: fixed;
	left: 8px;
	bottom: 0;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 9px;
	box-shadow: 0 0 11px 3px #ccc;
	z-index: 22;
	display: none;
	label{
		float: left;
	}
	.closeNewsletter{
		position: absolute;
		right: 9px;
		top: 4px;
		cursor: pointer;
		color: red;
	}
}