.quiz-show{
	margin-bottom:20px;
	h1{
		font-weight: bold;
		text-align: center;
	}
	p{
		text-align: center;
	}
	.btn{
		margin:15px auto;
		display: block;
		width: 160px;
	}
}

.quiz-sidebar{
	a{
		display:block;
		margin-bottom: 10px;
	}
}

.fillupform{
	width:50%;
}

.quizsub{
	width:184px;
	margin-bottom: 10px;
}

#preview{
	background: #eee;
    padding: 10px;
    margin: 10px 0;
    min-height: 100px;
}

.quiztake .col-md-8{
	// min-height: 420px;
	// position: relative;
}

.quiztake-btn{
	// position: absolute;
	// bottom: 0;
}

#quizscroll .btn{
	font-weight: bold;
	margin-bottom:5px;
	width: 60px;
    padding: 5px 0;
}

#countdowntimer{
	height: 100px;
}

.quiztake .all-content{
	// min-height: 100px;
}

.quiznav{
	height:40px;
	img{
		position: absolute;
	    right: 16px;
	}
}

