.ribbon-up{
    background: rgb(50, 232, 187);;
    padding: 16px;
        // margin: 0 6px;
    p{
	    text-align: center;
	    font-size: 28px;
	    color: #150E0E;
	    text-shadow: 3px 3px 8px #ddd;
        margin: 0;
    }
}



.review-home{
    background: rgb(228, 228, 141);
	// background: #8CEFD6;
    padding-top: 16px;
        // margin: 0 6px;
    i{
    	color:#525D5A;
	    top: 54px;
    }
}