.seminar{
	background: url("/images/seminar.jpg") no-repeat center center fixed; ;
	background-size: cover;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    .col-md-6{
    	margin-top:20px;
    }
    .left-sem{
        color: #FFFFFF;
        background: rgba(90, 90, 90, 0.17);
    }
     min-height: 438px;
    padding-top: 40px;
}

.seminar-form{
	max-width:400px;
	margin: 0 auto;
	.btn{
		width: 100%;
	    font-weight: bold;
	}
}

.presenter{
	text-align: center;
    margin: 30px 0;
    padding: 30px 0;
    background: rgba(184, 189, 183, 0.64);
}

.semfoot{
	text-align: center;
    font-weight: bold;
    padding: 10px;
    background: rgba(86, 207, 234, 0.87);
    i{
	    padding: 14px 14px;
	    background: #fff;
	    border-radius: 50px;
	    font-size: 20px;
	    font-weight: bold;
    }
    .customfb{
    	padding: 15px 20px;
    }
}

.fullpage{
    height:100vh;
}

.vidsem{
    margin-bottom: 20px;
}

.head-vidsem{
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bold!important;
}
