.subscribe-modal{
    width: 600px;
    background: rgba(230, 119, 67, 0.88);
    box-shadow: 0 0 20px rgba(169, 78, 25, 0.8);
    z-index: 100;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    position:absolute;
    left:50%;
    margin-left: -300px;
    top: 150px;
    
}

.sub-span{
	background-color: #846D6D;
    padding: 10px;	
} 