.style {
   font-family: sans-serif;
   font-weight: bold;
   border-style: solid;
    padding: 4px;
    width: 185px;
    margin-bottom:20px;
}

.colorDefinition {
    background: #FFFFFF;
    color: #F32D46;
}

.size_xl {
   font-size:50px;
   border-width: 8px;
   border-radius: 6px;
}

.size_lg {
   font-size:40px;
   border-width: 4px;
}

.size_md {
   font-size:30px;
   border-width: 5px;
   border-radius: 4px;
}

.size_sm {
   font-size:20px;
   border-width: 3px;
   border-radius: 3px;
}

.size_xs {
   font-size:15px;
   border-width: 2px;
   border-radius: 2px;
}